<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block Title %}
        {% endblock %}
    </title>
</head>
<body>

{% block body %}
{% endblock %}
{% block login %}
{% endblock %}
</body>
</html>