{% extends "base.html" %}
{% load i18n %}
{% block body %}
    {% for prod in object_list %}
    {% if request.LANGUAGE_CODE == 'en' %}
    <a href="{{ prod.get_absolute_url }}">{{ prod.title_en }}</a>
    {% else %}
    <a href="{{ prod.get_absolute_url }}">{{ prod.title_ar }}</a>
    {% endif %}
{% endfor %}
{% endblock %}