{% extends 'base.html' %}
{% load i18n %}
{% block title %}home{% endblock %}
{% block body %}
{% for lang in LANGUAGES %}
    <a href="/{{ lang.0 }}/">{{ lang.1 }}</a>
    {% endfor %}
 {% if request.user.is_authenticated %}

    <h3><strong>{% trans "Welcome" %} {{ request.user }}</strong></h3>
    <a type="button" href="{% url 'products:logout' %}">logout</a>
{% else %}
     <a type="button" href="{% url 'products:login' %}">Login</a>
     <a type="button" href="{% url 'products:register' %}">Register</a>
{% endif %}
<hr>


{% for cat in object_list %}
<a href="{{ cat.get_absolute_url }}">{{ cat.title }}</a>
    <br><hr width="300px" style="float: left">
{% endfor %}
{% endblock %}