{% extends "base.html" %}

{% block body %}
    <h2>Products</h2>
    <ul>
        {% for product in object_list %}
            <li>{{ product.title }}</li>
        {% endfor %}
    </ul>
{% endblock %}