{% extends 'base.html' %}
{% block title %}login{% endblock %}

{% block login %}


<h3>Log In</h3>
{% if error_message %}
    <p><strong>{{ error_message }}</strong></p>
{% endif %}
<form role="form" action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
        <label for="id_username">
            Username:
        </label>
            <input maxlength="30" name="username" type="text">
        <label for="id_password">
            Password:
        </label>
            <input maxlength="30" name="password" type="password">
            <button type="submit" >Submit</button>
</form>

Don't have an account? <a href="{% url 'products:register' %}">Click here</a> to register.

{% endblock %}