{% extends "base.html" %}
{% load i18n %}
{% block body %}


    {% if request.LANGUAGE_CODE == 'en' %}
        {{ product.title_en }}

    {% else %}
        {{ product.title_ar }}

    {% endif %}
    {% if user.is_anonymous %}
        <h5>Sorry you have to <a href="{% url 'products:login' %}">login </a> to comment</h5>
    {% else %}


    <hr>
{% endif %}
    {% if user.reviews.product != product %}
        <form method="POST" action="{% url 'products:comment' slug=product.slug user=request.user %}">
                {% csrf_token %}
                {{ form.as_p }}

                <input type="submit" value="Submit">
        </form>
    {% endif %}
    {% for comment in product.reviews_set.all %}

        {% if comment.approved_comment == True %}

            <div>{{ comment.user }}</div>
            <strong>{{ comment.comments }}</strong>
            <p>{{ comment.text|linebreaks }}</p>
        {% elif comment.approved_comment == False and comment.user == request.user %}
            Your comment is under review

        {% endif %}


    {% empty %}

        <p>No comments here yet :(</p>

    {% endfor %}

{% endblock %}