{% extends 'base.html' %}
{% block title %}Register{% endblock %}

{% block login %}

                    <h3>Register for an Account</h3>
                    {% if error_message %}
                        <p><strong>Error</strong></p>
                    {% endif %}
                    <form class="form-horizontal" role="form" action="{% url 'products:register' %}" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% include 'form.html' %}
                                <button type="submit">Submit</button>

                    </form>

                    Already have an account? <a href="{% url 'products:login' %}">Click here</a> to log in.


{% endblock %}
